.google-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.google-navbar li {
  float: left;
}

.google-navbar li a {
  display: block;
  font-family: Arial;
  font-size: 13px;
  color: #404040;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-right {
  float: right;
}

.sign-in-button {
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  background: #4986EB;
  border-style: none;
  border-radius: 2px;
  padding: 7px 12px;
  margin: 7px 15px 0px 15px;
}
